body {
  font-family: 'Carter One', cursive;
}

#navbar-top {
  background-color: #b30000;
}

#navbar-bottom {
  background-color: rgb(239, 247, 255);
}

.navbar-header {
  color: white;
}

.navbar-brand {
  color: white;
  font-size: 45px;
}

.navbar-brand img {
  max-width: 80px;
  max-height: 80px;
}

.center_div{
    margin: 10 auto;
    width:20%
}

.center_search{
    margin: 20 auto;
    width:30%
}
