body {
  font-family: 'Nunito', sans-serif;
}

#navbar-top {
  background-color: #b30000;
}

#navbar-bottom {
  background-color: rgb(239, 247, 255);
}

.navbar-brand {
  color: #b30000;
  font-size: 45px;
}

.navbar-brand img {
  max-width: 80px;
  max-height: 80px;
}

.center_div{
    margin: 10 auto;
    width:20%
}

label{
    padding-right: 5px;
}
